/*===================font-family: 'Roboto', sans-serif;========================*/

/*******************************************************************************/
/*****************************Application Style*********************************/
/*******************************************************************************/
select{
  width: 100%;
  height: 34px;
  border: none;
}
.gsg-popup .popup {
  background-color: rgba(255, 255, 255, 1.00);
  border-radius: 5px 5px 5px 5px ;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  max-width: 100%;
  width: 250px;
}
popup-body{
  text-align: center;
}
.bar.bar-stable{
  background-color: transparent;
}
.bar-stable .button.button-icon{
  background: white;
  width: 35px;
  color: #030302;
}
.gsg-popup .popup-head {
  border-bottom: 1px solid #eee;
  border-radius: 5px 5px 0 0;
  padding: 15px 10px;
  text-align: center;
}
.gsg-popup .popup-buttons{
  padding:0;
  min-height: 20px !important;
}
.popup-buttons button {
  background-color: #AB3137 !important;
  border: medium none !important;
  color: white !important;
  display: flex;
  flex-direction: row;
  padding: 0 !important;
  margin-top:0px !important;
  margin-bottom:0px !important;
}

.gsg-popup .popup-title {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: black;
}
.gsg-popup .popup-body {
  overflow: auto;
  padding: 10px;
  text-align: center;
}
.gsg_main_container{
  background:url(../img/bg.png) no-repeat;
  background-size: 100% 100%;
  text-align: center
}
.item-input{
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px 0 20px;
  padding: 3px 13px;
  width:100%;
}
.button{
  border-radius: 10px;
  min-height: 0;
  font-size: 18px;
  line-height: 40px;
}
.item-label{
  background: transparent;
  border: none;
 
}
.item-label-already-registered{
  margin-top: 200px;
}
.button.button-positive,.button.button-positive.activated{
  border-color: transparent;
  background-color: #73b711;
  color: #fff;
}
.center{
    text-align:center;
}
/*******************************************************************************/
/*******************************Home Page Style*********************************/
/*******************************************************************************/
.home_container{
  background:url(../img/background.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  text-align: center
}
.home_container img{
  margin-top:50%
}
.scroll{
  height: 100%;
}
.side-menu{
  background-color: #ffffff;
  color: #111;
  border-width: 0px;
  font-size: 15px;
  margin: 4px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.side-menu-header{
  background-color: black !important;
  height:136px;
}
.side-menu-header-bar{
  color: white !important;
  margin-left:110px !important;
  font-size:14px !important;
  /* margin-top:100px !important; */
}
/*******************************************************************************/
/*******************************Login Page Style********************************/
/*******************************************************************************/
.gsg_login{
  padding: 25px;
}
.item-social{
  padding: 10px 0;
  background: transparent;
  border: none;
}
.item-social .button{
  width: 46%;
}
.button-facebook,.button-facebook.activated{
  background: #29487d;
  color: #FFF;
  border: none;
}
.item-label .forgot{
  color: #FFF;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
}
.plain-text{
float: left;
color:#fafafa;
font-size:15px;
}
/*******************************************************************************/
/*******************************OTP Page Style**********************************/
/*******************************************************************************/
.otp-resend{
  color: #fafafa;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: underline;
  float: right;
  margin-top: -12px;
  margin-bottom: 17px;
}
.not-your-no{
  float: left !important;
}
/*******************************************************************************/
/*******************************Password Page Style**********************************/
/*******************************************************************************/
.row{
  margin-bottom: 10px !important;
  margin-top: -10px !important;
}
.vehicle{
   margin-bottom: -15px !important;
   margin-top: -20px !important;
}
/*******************************************************************************/
/*******************************Map Page Style**********************************/
/*******************************************************************************/
#map{
  height: 100%;
  width:100%;
}
.map-footer{
  height: 50px;
  padding: 0;
}
.map-footer .button{
  margin: 0;
  font-size: 18px;
  background: rgb(115, 183, 17) ;
  border-radius:0; 
  color: #ffffff;
  letter-spacing: 1px;
}
.map-search{
  position: absolute;
  top: 0;
  right: 15px;
  left: 15px;
  margin-top: 10px;
}
.map-search .item-input{
  margin: 0;
  border-radius: 0;
}
/* .map-search:after {
  border-top: 10px solid rgb(211, 28, 28);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: inline-block;
  right: 95px;
  position: absolute;
  top: 0;;
  z-index: 9
} */
.gmnoprint{
  display: none;
}
.item-location{
  padding:8px 12px;
}
.item-location .icon{
  font-size: 10px;
  margin-right: 5px;
}
.skip-button{
  border-radius: 8px;
  min-height: 0;
  font-size: 14px;
  line-height: 18px;
  /* float:right; */
  margin-left: 200px;
  margin-top: 13px;
  background-color: #030302;
  color: white;
  
}
.icon-pickup{
  color:green;
}
.icon-drop{
  color:red;
} 
.inactive{
  margin: 0 8px;
  padding: 6px;
  background: #e8e6e6;
}
.footer-option{
  background: #fff;
  width: 100%;
  height: 65px;
  z-index: 99999999;
  position: absolute;
  bottom: 7px;
  overflow: hidden;
  overflow-x:scroll; 
}
.service-list{
  height: 100%;
  white-space:nowrap;
}
.service-list li{
  display: inline-block;
  width: 65px;
  height: 100%;
  text-align: center;
  padding: 18px;
  font-size: 30px;
}
.choose-location{
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  height: 200px;
  background: #fff;
}
.current-location{
  margin-left: 248px;
  margin-top: 293px;
  border-width: 0px;
  font-size: 30px;
  color: black;
}
.power-by{
  text-align: center;
  margin-top: 20px;
}
.google-close{
  background: transparent;
  border: none;
  margin-left: 10px;
}