<ion-modal-view ng-init="tlCtrl.getAllServices()">
    <ion-header-bar class="bar-energized gsg-colour" >
        <button class="button button-clear" ng-click="tlCtrl.closeNewSvcModal()">
            <i class="icon ion-android-close"></i>
        </button>
        <h1 class="title">Add New Service</h1>
    </ion-header-bar>
    <ion-content>          
        <ion-list>
            <ion-item>
                <div class="row">
                    <label class="item item-input item-select col-70">
                        <div class="input-label">
                            Type
                        </div>
                        <select name="add_on_type" ng-model="tlCtrl.addOnSvcCapture.type" ng-options="type as type for type in tlCtrl.addOntypeArr" >
                            
                        </select>
                    </label>
                    <div class="button-bar col col-30">
                            <a class="button button-positive w-100 m-t-5" ng-disabled="!tlCtrl.addOnSvcCapture.type" ng-click="tlCtrl.addItemToArray()">ADD</a> 
                    </div>
                </div>                
                <span class="span-text w-s-i m-l-30 m-t-5" ng-show="tlCtrl.addOnSvcCapture.type && tlCtrl.addOnSvcCapture.type !== 'SERVICE'">(NB: Fields with * mark are required fields)</span>
            </ion-item> 
              
         <div class="list list-plan" ng-show="tlCtrl.addOnSvcCapture.type == 'SERVICE'">           
            <ion-toggle ng-model="services.isSelect" toggle-class="toggle-calm" ng-repeat="services in tlCtrl.serviceFilterArr">                       
                    <h2>{{services.subCategory}}</h2>
            </ion-toggle>
        </div> 
        <label ng-show="tlCtrl.addOnSvcCapture.type && tlCtrl.addOnSvcCapture.type !== 'SERVICE'" class="profile-form item-floating-label" >
            <span class="input-label col col-100">Item Description *</span>
            <textarea type="text" class="col col-100" name="description" placeholder="Item Description *" ng-model="tlCtrl.addOnSvcCapture.desc" rows="3"></textarea>
        </label>
        <label ng-show="tlCtrl.addOnSvcCapture.type && tlCtrl.addOnSvcCapture.type !== 'SERVICE'" class="profile-form item item-input item-select m-t-5" >
            <div class="input-label col-60">GST * (In percentage)</div>                   
            <select class="col-40" name="add_on_tax" ng-model="tlCtrl.addOnSvcCapture.gst" ng-options="type as type+'%' for type in tlCtrl.gstPercentageArr" >
            </select>
        </label>
        <label ng-show="tlCtrl.addOnSvcCapture.type && tlCtrl.addOnSvcCapture.type !== 'SERVICE'" class="profile-form item-floating-label" >
            <span class="input-label col col-100">Item Price *</span>
            <input type="number" class="col col-100" name="price" placeholder="Item Price *" ng-model="tlCtrl.addOnSvcCapture.price">
        </label>
     
        </ion-list>
       
            <ion-item ng-hide="tlCtrl.addOnSvcItemArr.length == 0" ng-repeat="selections in tlCtrl.addOnSvcItemArr"> 
                <hr>
                    <h3 class="popular-city">{{selections.type}}({{$index+1}})</h3>
                <hr class="m-r-60" >
                <span class="span-text row"  ng-hide="selections.serviceList.length == 0" ng-repeat="services in selections.serviceList">
                        <p class="w-s-i col col-80">{{$index+1}} - {{services.subCategory}}</p><p class="col-20"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{services.price[ tlCtrl.ticketDetails.orderDtls[0].product.usrVehicle.vehicle.type] }} {{services.freeApplied ? "(Free Applied)" : " "}} {{services.freeApplied ? "(Free Applied)" : " "}}</p>
                </span>
                <span class="span-text" ng-hide="selections.type == 'SERVICE'">
                       <span class="row w-s-i"> <p class="w-s-i col col-70">Description</p><p class="col-30">&nbsp;{{selections.desc}}</p></span>
                       <span class="row w-s-i"><p class="w-s-i col col-70">GST</p><p class="col-30">&nbsp;{{selections.gst+"%"}}</p></span> 
                       <span class="row w-s-i"><p class="w-s-i col col-70">Price</p><p class="col-30">&nbsp;{{selections.price}}</p></span> 
                        
                </span>
                
            </ion-item> 
    </ion-content>
    <ion-footer-bar class="map-footer" >
        <button class="button button-block button-map" type="submit" ng-disabled="tlCtrl.addOnSvcItemArr.length == 0" ng-click="tlCtrl.addNewServicesToUserCart()">SUBMIT</button>        
    </ion-footer-bar>
</ion-modal-view>