<ion-modal-view>
    <ion-header-bar class="bar-energized gsg-colour">
        <button class="button button-clear" ng-click="mainCtrl.closeModal()">
            <i class="icon ion-android-close"></i>
        </button>
        <h1 class="title">Change your Location</h1>
    </ion-header-bar>
    <ion-content class="text-center whitesmoke">
        <div class="list list-inset">
            <label class="item item-input search-box">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>
        <h3 class="popular-city">Popular cities</h3>
        <hr>
        <!--  -->
        <div class="city-list city-popular">
          <div class="item cur-p"><div class="img"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/f00bd521d24e52b5ca9a2a3b8bb2ebf49df9e933.png?1497538418" alt=""></div>
            Bangalore
          </div><div class=" item cur-p"><div class="img"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/c198e0443ff4edf7f90a8d84dd6cf922de4f13eb.png?1497538483" alt=""></div>
            Pune
          </div><div class="item cur-p"><div class="img"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/5b9f025a2b89481a148d60ecec80f6f465491815.png?1497538509" alt=""></div>
            Delhi NCR
          </div><div class="item cur-p"><div class="img"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/e1abfe1b888a392ff8cc7ac4b19be66026bc4d0e.png?1497538549" alt=""></div>
            Mumbai
          </div><div class="item cur-p"><div class="img"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/72146518feb0424f786d36533dbacb4eaa22ea82.png?1497538586" alt=""></div>
            Chennai
          </div><div class="item cur-p"><div class="img"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/ec01720d5e98455a7607a3c18d6c3804e65f9299.png?1497538617" alt=""></div>
            Hyderabad
          </div><div class="item cur-p"><div class="img"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/2c335cd7b3bea26f8ee2e399572e7b1bab86a921.png?1497538647" alt=""></div>
            Chandigarh
          </div><div class="item cur-p"><div class="img"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/1bd598da24dd1adf40782943d749b4ae985898d5.png?1497538676" alt=""></div>
            Kolkata
          </div>
        </div> 
      <!--  -->
        <h3 class="popular-city">Other cities</h3>
        <hr>
        <div class="citi-list city-other">
            <div class="city-list cur-p">Ahmedabad</div>
            <div class="city-list cur-p">Coimbatore</div>
            <div class="city-list cur-p">Indore</div>
            <div class="city-list cur-p">Jaipur</div>
            <div class="city-list cur-p">Ludhiana</div>
            <div class="city-list cur-p">Mangalore-Manipal</div>
            <div class="city-list cur-p">Mysore</div>
            <div class="city-list cur-p">Vizag</div>
            <div class="city-list cur-p">Nagpur</div>
            <div class="city-list cur-p">Kochi</div>
            <div class="city-list cur-p">Udaipur</div>
            <div class="city-list cur-p">Vijayawada</div>
            <div class="city-list cur-p">Surat</div>
            <div class="city-list cur-p">Siliguri</div>
            <div class="city-list cur-p">Lucknow</div>
            <div class="city-list cur-p">Guwahati</div>
            <div class="city-list cur-p">Tirupati</div>
            <div class="city-list cur-p">Bhubaneswar</div>
        </div>
    </ion-content>
</ion-modal-view>