<ion-modal-view>
    <ion-header-bar class="bar-energized">
        <button class="button button-clear" ng-click="mainCtrl.closeModal()">
            <i class="icon ion-android-close"></i>
        </button>
        <h1 class="title">The Little Techie</h1>
    </ion-header-bar>
    <ion-content class="text-center">
        <p>Hello!</p>
        <p>Did you notice, this modal slided from right...</p>
        <p><a href="http://blog.thelittletechie.com/2016/08/make-modal-to-slide-from-right-in-ionic.html">Back to post</a> | <a href="http://www.thelittletechie.com/">Back to Website</a></p>
    </ion-content>
</ion-modal-view>