<ion-modal-view>
    <ion-header-bar class="bar-energized gsg-colour">
        <button class="button button-clear" ng-click="profileCtrl.changePassModalClose()">
            <i class="icon ion-android-close"></i>
        </button>
        <h1 class="title">Change password</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <form class="form-horizontal" name="changePassword">
                <label class="profile-form item-floating-label" ng-class="{'has-error':changePassword.old_password.$touched && changePassword.old_password.$invalid}">
                    <span class="input-label col col-100">Old Password*</span>
                    <input type="password" name="old_password" placeholder="Old Password" ng-model="profileCtrl.changePass.password" required>                
                </label>
                    <span class="error-message" ng-show="changePassword.old_password.$error.required && changePassword.old_password.$touched">Please enter your old password</span>
                    <span class="error-message" ng-show="changePassword.old_password.$error.pattern && changePassword.old_password.$touched">Password must be 4 characters long having atleast one special character</span>                             
                <label class="profile-form item-floating-label" ng-class="{'has-error':changePassword.new_password.$touched && changePassword.new_password.$invalid}">
                    <span class="input-label col col-100">New Password*</span>
                    <input type="password" name="new_password" placeholder="New Password" ng-model="profileCtrl.changePass.newPassword" ng-pattern="/^(?=.*?[a-zA-Z0-9])(?=.*?[#?!@$%^&*-]).{4,}$/" required>                
                </label>
                    <span class="error-message" ng-show="changePassword.new_password.$error.required && changePassword.new_password.$touched">Please enter a new password</span>
                    <span class="error-message" ng-show="changePassword.new_password.$error.pattern && changePassword.new_password.$touched">Password must be 4 characters long having atleast one special character</span>                             
                <label class="profile-form item-floating-label" ng-class="{'has-error':changePassword.rePassword.$touched && changePassword.rePassword.$invalid}">
                    <span class="input-label col col-100">Retype password*</span>
                    <input type="password" name="rePassword" placeholder="Retype Password" ng-model="profileCtrl.rePassword" ng-change="profileCtrl.checkPassword(profileCtrl.changePass.newPassword, profileCtrl.rePassword)" required>                
                </label>
                    <span class="error-message" ng-show="changePassword.rePassword.$error.required && changePassword.rePassword.$touched">Please re-enter your password</span>
                    <span class="error-message" ng-show="profileCtrl.showPasswordMisMatch && changePassword.rePassword.$touched">Password doesn't match</span>            
                <button class="button button-block button-positive" type="submit" ng-disabled="changePassword.$invalid || profileCtrl.showPasswordMisMatch" ng-click="profileCtrl.changePwd()">Submit</button>
            </form>
        </div>
    </ion-content>
    <!-- <ion-footer-bar class="map-footer" >
        <button class="button button-block button-map" type="submit"></button>        
    </ion-footer-bar> -->
</ion-modal-view>