<ion-modal-view>
    <ion-header-bar class="bar-energized gsg-colour">
        <button class="button button-clear" ng-click="planCtrl.closeModal()">
            <i class="icon ion-android-close"></i>
        </button>
        <h1 class="title">Go Platinum</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list list-plan">
            <a class="item item-avatar" href="">
                <h4>HEALTH CHECKUP</h4>
                <p>3 Checkup/Year</p>
            </a>
            <a class="item item-avatar" href="">
                <h4>BREAKDOWN ASSISTANCE</h4>
                <p>Free up to 1 year</p>
            </a>
            <a class="item item-avatar" href="">
                <h4> FREE SCANNING</h4>
                <p>THREE FREE SCANING/YEAR</p>
            </a>
            <a class="item item-avatar" href="">
                <h4> FREE TOWING</h4>
                <p>TWICE A YEAR</p>
            </a>
            <a class="item item-avatar" href="">
                <h4>FREE COUPONS</h4>
                <p>AVAILABLE</p>
            </a>
            <a class="item item-avatar" href="">
                <h4>SCHEDULED SERVICING</h4>
                <p> THREE SCHEDULED SERVICING (FREE)</p>
            </a>
            <a class="item item-avatar" href="">
                <h4> DISCOUNTS</h4>
                <p>ON OIL & COOLANT</p>
            </a>
        </div>
    </ion-content>
    <ion-footer-bar class="map-footer" >
        <button class="button button-block button-map" type="submit">PAY NOW(5000+ GST)</button>        
    </ion-footer-bar>
</ion-modal-view>