<ion-modal-view class="rating-modal">
    <ion-header-bar class="rating-modal">
        <button class="button button-clear gsg-theme" ng-click="reqCtrl.closeRatingModal()">
            <i class="icon ion-android-close"></i>
        </button>
        <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
        <div class="rate-icon">
            <ionic-ratings ratingsobj='ratingsObject' index='0'></ionic-ratings>
            <textarea type="text" class="review-box col col-100" name="description" placeholder="Share your experience with us..." ng-model="tlCtrl.addOnSvcCapture.desc" rows="3"></textarea>
            
             <button class="button button-positive change-pwd-btn" type="submit" ng-click="profileCtrl.changePassword()">Rate</button>
        </div>
        
    </ion-content>
    <!-- <ion-footer-bar class="map-footer" >
        <button class="button button-block button-map" type="submit"></button>        
    </ion-footer-bar> -->
</ion-modal-view>