<ion-modal-view class="modal-request-details">
        <ion-header-bar class="bar-energized modal-req-det-hed" >
            <button class="button button-clear" ng-click="reqCtrl.closeREqDetailsModal()">
                <i class="icon ion-android-close"></i>
            </button>
            <h1 class="title">Request Details</h1>
        </ion-header-bar>
        <ion-content class="whitesmoke">      
                <ion-item class="whitesmoke">
                    <h2>ORDER ID - {{reqCtrl.requestDetails.orderId}}</h2>
                    <p class="span-text w-s-i"><h4>SERVICE DATE - {{reqCtrl.requestDetails.serviceDate}}</h4></p>
                    <hr>
                    <span class="span-text" ng-hide="!reqCtrl.requestDetails.orderDtls[0].product.usrVehicle.vehicle.make">
                            <p class="w-s-i"> VEHICLE - {{!reqCtrl.requestDetails.orderDtls[0].product.usrVehicle.vehicle.make ? " " :reqCtrl.requestDetails.orderDtls[0].product.usrVehicle.vehicle.make}} {{!reqCtrl.requestDetails.orderDtls[0].product.usrVehicle.vehicle.models == 'null' ? " ": reqCtrl.requestDetails.orderDtls[0].product.usrVehicle.vehicle.models}} {{!reqCtrl.requestDetails.orderDtls[0].product.usrVehicle.registrationNumber == 'null' ? " ": reqCtrl.requestDetails.orderDtls[0].product.usrVehicle.registrationNumber}}</p>
                    
                    </span>
                    <div ng-repeat="orders in reqCtrl.requestDetails.orderDtls">
                            <hr ng-hide="!reqCtrl.requestDetails.orderDtls[0].product.usrVehicle.vehicle.make"> <h3 class="popular-city">Order({{$index+1}})</h3>
                            <hr class="m-r-25" ng-hide="services.length == 0">
                        <span class="span-text row"  ng-hide="reqCtrl.requestDetails.produtType == 'EMERGENCY'" ng-repeat="services in orders.product.services">
                                <p class="w-s-i col col-70"> {{services.subCategory}}&nbsp;{{services.freeApplied ? "(Free Applied)" : " "}}</p> <p class="col-30"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp; <strike ng-show="services.freeApplied"> {{services.price[ orders.product.usrVehicle.vehicle.type] }}</strike> <strong ng-hide="services.freeApplied">{{services.price[ orders.product.usrVehicle.vehicle.type] }}</strong></p>
                       
                        </span><hr class="m-r-25" ng-hide="reqCtrl.requestDetails.produtType == 'EMERGENCY'">
                        <span class="span-text">
                                <span class="span-text row"><p class="w-s-i col col-70"> <b> Total Price</b> </p><p class="col-30">  <i class="fa fa-inr" aria-hidden="true"></i>&nbsp; <b>{{orders.calculatedPrice}}</b> </p></span>                                   
                            <span class="span-text row"><p class="w-s-i col col-70"> Payment Mode </p><p class="col-30"> {{orders.transactionMode}}</p></span>    
                            <span class="span-text row"><p class="w-s-i col col-70" ng-show="orders.transactionStatus"> Payment Status </p><p class="col-30">{{orders.transactionStatus}}</p></span>    
                            <span class="span-text row"><p class="w-s-i col col-70" ng-show="orders.transactionStatus == 'COMPLETED'">  Payment Date </p><p class="col-30">{{orders.transactionDate == "null" ? "Payments pending" : orders.transactionDate}}</p></span>    
                            <!-- <span class="span-text row"><p class="w-s-i col col-70"> <b> Total Price</b> </p><p class="col-30">  <i class="fa fa-inr" aria-hidden="true"></i>&nbsp; <b>{{reqCtrl.requestDetails.totalPrice}}</b> </p></span>                                    -->
                        </span>
                    </div>
                </ion-item>                     
        </ion-content>
        <!-- <ion-footer-bar class="map-footer" >
            <button class="button button-block button-map" type="submit" ng-click="srvcCtrl.paymentNow()">PAY NOW</button>        
        </ion-footer-bar> -->
    </ion-modal-view>