<ion-modal-view>
    <ion-header-bar class="bar-energized gsg-colour">
        <button class="button button-clear" ng-click="planCtrl.closeModal()">
            <i class="icon ion-android-close"></i>
        </button>
        <h1 class="title">Go Silver</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list list-plan">
            <a class="item item-avatar" href="#">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
        </div>
    </ion-content>
    <ion-footer-bar class="map-footer" >
        <button class="button button-block button-map" type="submit">PAY NOW</button>        
    </ion-footer-bar>
</ion-modal-view>