<ion-modal-view ng-init="vehicleCtrl.getVehicledata()">
        <ion-header-bar class="bar-energized gsg-colour">
            <button class="button button-clear" ng-click="vehicleCtrl.closeVehicleUpdateModal()">
                <i class="icon ion-android-close"></i>
            </button>
            <h1 class="title">Update Vehicle</h1>
        </ion-header-bar>
        <form class="form-horizontal" name="updateVehicle" >
        <ion-content  class="gsg_main_container" ng-init="vehicleCtrl.getMfgYear()">
                 <div class="list m-20">
                        <label class="item item-input col">
                            <select class="" name="maker_of_vehicle" ng-model="vehicleCtrl.updateVehicleData.vehicle.make" ng-options="makers as makers for makers in vehicleCtrl.makes" ng-change="vehicleCtrl.getModel(vehicleCtrl.updateVehicleData.vehicle.make)" required>
                                 <!--<option value=""><i class="fa fa-sort-desc">Maker Of the Vehicle</i></option>
                                <option ng-value="Honda">Honda</option>
                                <option ng-value="MARUTI">Maruti</option>
                                <option ng-value="Suzuki">Suzuki</option>                              -->
                            </select>                 
                        </label>
                        <span class="plain-text row" ng-show="updateVehicle.maker_of_vehicle.$error.required && updateVehicle.maker_of_vehicle.$touched">Please choose a maker</span>
                        <label class="item item-input">
                            <input type="text" name="vehicle_no" ng-model="vehicleCtrl.updateVehicleData.registrationNumber" placeholder="Vehicle No" required>
                        </label> 
                        <span class="plain-text row" ng-show="updateVehicle.vehicle_no.$error.required && updateVehicle.vehicle_no.$touched">Please enter the vehicle no</span>
                        <div class="vehicle row">
                            <label class="item item-input col col-50">
                                <select class="" name="model" ng-model="vehicleCtrl.updateVehicleData.vehicle.models" ng-options="models as models for models in vehicleCtrl.vehicleModelList" ng-change="vehicleCtrl.getVehicleType(vehicleCtrl.updateVehicleData.vehicle.models)"required>
                                    <option ng-value="A3"><i class="fa fa-sort-desc">Model</i></option>
                                </select>                 
                            </label>
                            <label class="item item-input col-50">
                                <input type="text" class="" name="variant" placeholder="Variant" ng-model="vehicleCtrl.updateVehicleData.variant" />
                            </label>
                        </div>
                        <span class="plain-text" ng-show="updateVehicle.model.$error.required && updateVehicle.model.$touched">Please enter the vehicle model</span>
                        <div class="vehicle row" >
                            <label class="item item-input col col-50">
                                <input type="text" class=""  placeholder="Version" name="version" ng-model="vehicleCtrl.updateVehicleData.modelVersion"/>            
                            </label>
                            <label class="item item-input col-50">
                                <input type="number" class="" name="cc" placeholder="Cubic capacity" ng-model="vehicleCtrl.updateVehicleData.cubicCapacity" />
                            </label>
                        </div>
                        <!-- <span class="plain-text" ng-show="updateVehicle.version.$error.required && updateVehicle.version.$touched">Please enter the version of the vehicle</span> -->
                        <label class="item item-input">
                            <select class="" name="manufacturing_year" ng-model="vehicleCtrl.updateVehicleData.mfgYear" ng-options="years as years for years in vehicleCtrl.mfgYearArr">
                       
                            </select>                 
                        </label>
                        <span class="plain-text row" ng-show="updateVehicle.manufacturing_year.$error.required && updateVehicle.manufacturing_year.$touched">Please enter the vehicle manufacturing year</span>
                        <label class="item item-input">
                            <select class="insurance" name="insurance" ng-model="vehicleCtrl.updateVehicleData.insuranceValid" ng-options="status as status == true?'Active':'Expired' for status in vehicleCtrl.insuranceArr" required>
                                <!-- <option ng-value=""><i class="fa fa-sort-desc">Vehicle Insurance Status</i></option>
                                <option ng-value="true">Active</option>
                                <option ng-value="false">Expired</option> -->
                                <!-- <option ng-value=""><i class="fa fa-sort-desc">Vehicle Insurance Status</i></option> -->
                                <!-- <option ng-repeat="val in vehicleCtrl.insuranceArr" ng-value="val">{{val == true ? "Active" : "Expired"}}</option> -->
                                <!-- <option ng-value="false">Expired</option> -->
                                                           
                            </select>                 
                        </label>
                        <span class="plain-text row" ng-show="updateVehicle.insurance.$error.required && updateVehicle.insurance.$touched">Please select your insurance status</span> 
                        <label class="item item-input col" ng-if="vehicleCtrl.updateVehicleData.insuranceValid == true">
                                <input type="text" name="expiry_date" placeholder="Expiry Date" ng-model="vehicleCtrl.updateVehicleData.expiryDate" ng-click="vehicleCtrl.updateExpiry()">
                            <!-- <input type="text" class="" name="expiry_date" placeholder="Expiry Date" ng-model="vehicleCtrl.updateVehicleData.expiry_date" /> -->
                        </label> 
                        <!-- <span class="plain-text row" ng-show="updateVehicle.expiry_date.$error.required && updateVehicle.expiry_date.$touched">Expiry date is required</span>  -->
                        <label class="item item-input col">
                             <select class="" name="insurance_type" ng-model="vehicleCtrl.updateVehicleData.insuranceType" ng-options="insType as insType for insType in vehicleCtrl.insuranceTypeArr" >
                                    <option value=""><i class="fa fa-sort-desc">Insurance Type</i></option>
                                    <!-- <option ng-value="Comprehensive">Comprehensive</option>
                                    <option ng-value="zero_depreciation">Zero Depreciation</option>
                                    <option ng-value="third_party">Third party only</option> -->
                            </select>  
                        </label> 
                    </div>
        </ion-content>
        <ion-footer-bar class="map-footer" >
            <button class="button button-block button-map" ng-disabled="updateVehicle.$invalid" ng-click="vehicleCtrl.updateVehicleDetails()" type="submit">Update</button>        
        </ion-footer-bar>
        </form>
    </ion-modal-view>