<ion-modal-view cache-view="false">
  <ion-content class="gsg_main_container">
    <div class="gsg_login">
      <div class="banner_logo">
          <img src="img/logo3.png" alt="">
      </div>
      <div>
        <form>
          <div class="list">
            <label class="item item-input">
              <input type="text" ng-model="loginCtrl.user.email" placeholder="Mobile No/Email">
            </label>
            <label class="item item-input">
              <input type="password" ng-model="loginCtrl.user.code" placeholder="Password">
            </label>
            <button class="button button-block button-positive" type="submit" ng-click="loginCtrl.login()">Submit</button>
            
            <!-- <label class="item item-social">
              <button ui-sref="app.mapView" class="button button-facebook left" type="submit"><i class="icon ion-social-facebook m-r-5"></i>  facebook</button>
              <button class="button button-google right" type="submit"><i class="icon ion-social-google m-r-5"></i>  Google</button>
            </label> -->
           
            
          </div>
        </form>
      </div>
      <label class="item item-label">
          <a href="" class="text-upper forgot">Forgot Password</a>  
      <button class="button button-block button-positive" type="submit" ui-sref="register">New User? Sign Up</button>
     
    </label>
    </div>
    
  </ion-content>
</ion-modal-view>
