<ion-view cache-view="false">
  <ion-content class="gsg_main_container">
    <div class="gsg_login">
      <div class="banner_logo">
          <img src="img/logo3.png" alt="">
      </div>
      <div>
        <form>
            <div class="list m-t-20">
            <span class="plain-text">
                An OTP sent to your no {{loginCtrl.mobile_number}}
            </span>
            </div>
          <div class="list m-t-20">
              <label class="item item-input">
                  <input type="text" ng-model="loginCtrl.otp" placeholder="INSERT OTP">
              </label>
            <a href="" class="otp-resend not-your-no" ui-sref="register">Not your Number</a>
            <a href="" class="otp-resend">Resend OTP</a>
            <button class="button button-block button-positive" type="submit" ng-click="loginCtrl.verifyOtp()" >Submit</button>
          </div>
        </form>
      </div>
    </div>
    
  </ion-content>
</ion-view>
