<ion-view cache-view="false" hide-nav-bar="true">
    <ion-content class="gsg_main_container">
        <div class="gsg_login">
            <div class="banner_logo">
                <img src="img/logo3.png" alt="">
            </div>
            <div>
                <form name="preResPwd">
                    <label class="item item-input">
                        <input type="text" name="mobile" ng-model="preResPwdctrl.contactNbr" ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/" placeholder="Mobile No" required>                
                    </label>
                    <span class="plain-text row" ng-show="preResPwd.mobile.$error.required && preResPwd.mobile.$touched">Please Enter your Mobile no.</span>
                    <span class="plain-text row" ng-show="preResPwd.mobile.$error.pattern && preResPwd.mobile.$touched">invalid mobile</span>                        
                    
                    <a href="" class="otp-resend not-your-no" ui-sref="login">Go to login</a>
                    <button class="button button-block button-positive" type="submit" ng-disabled="preResPwd.$invalid" ng-click="preResPwdctrl.preResPwd(preResPwdctrl.contactNbr)">Continue</button>               
                    
                </form>
            </div>
        </div>      
    </ion-content>
</ion-view>
  