<ion-view cache-view="false" view-title="My Profile">
    <ion-nav-buttons side="right">
        <button class="back-button" ui-sref="app.edit-profile">
          EDIT
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="back-button" ui-sref="app.mapView">
          <i class="icon ion-chevron-left"></i> 
        </button>
      </ion-nav-buttons>
    <ion-content class="">
            <div class="profile_head">
                <div class="myprofile">                    
                    <img src="img/placeholder.jpg" ng-click="openImage('img/placeholder.jpg')"/>
                    <a class="ion-ios-camera camera_profile" href="" ng-click="openOption()"></a>
                </div>
                <!-- <h1>{{profileData.firstName+' '+profileData.lastName}}</h1>
                <p ng-if="profileData.user_role == '2'">Camper</p>
                <p ng-if="profileData.user_role == '3'">Parent</p>
                <p ng-if="profileData.user_role == '4'">Alumni</p> -->
            </div>
            <div class="list">
                    <div class="item profile_list">
                      <span><i class="ion-ios-email-outline"></i><p class="list-head">Email</p></span>
                      <span>{{profileData.email}}</span>
                    </div>
                    <div class="item profile_list">
                      <span><i class="ion-ios-location-outline"></i><p class="list-head">Address</p></span>
                      <span>{{profileData.address}}</span>
                    </div>
                    <div class="item profile_list">
                      <span><i class="ion-ios-locked-outline"></i><p class="list-head">Mobile</p></span>
                      <span>{{profileData.phone}}</span>
                    </div>
                    <div class="item profile_list">
                      <span><i class="ion-ios-person-outline"></i><p class="list-head">I am a</p></span>
                      <span ng-if="profileData.user_role == '2'">Camper</span>
                      <span ng-if="profileData.user_role == '3'">Parent</span>
                      <span ng-if="profileData.user_role == '4'">Alumni</span>
                    </div>
                    <button class="button button-positive change-pwd-btn" type="submit" ui-sref="app.mapView">Change Password</button>
                  </div>
              
    </ion-content>
    <!-- <ion-footer-bar class="map-footer" >
            <button class="button button-block button-map" type="submit">REQUEST A SERVICE</button>        
        </ion-footer-bar> -->
</ion-view>
  