<ion-view cache-view="false" hide-nav-bar="true">
    <ion-content class="gsg_main_container">
      <div class="gsg_login">
        <div class="banner_logo">
            <img src="img/logo3.png" alt="">
        </div>
        <div>
            <form name="basicInfo">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" name="mobile" placeholder="Mobile" ng-model="regstrCtrl.basicDetails.contactNbr" ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/" placeholder="Mobile No" required>                
                    </label>
                    <span class="plain-text row" ng-show="basicInfo.mobile.$error.required && basicInfo.mobile.$touched">Please Enter your Mobile no.</span>
                    <span class="plain-text row" ng-show="basicInfo.mobile.$error.pattern && basicInfo.mobile.$touched">invalid mobile</span>                        
                    <label class="item item-input">
                        <input type="text" name="email" ng-model="regstrCtrl.basicDetails.email" placeholder="Email" ng-pattern="/^[A-Za-z]+[a-z0-9._]+@[a-z0-9]+\.[a-z.]{2,10}$/" required>
                    </label>
                        <span class="plain-text row" ng-show="basicInfo.email.$error.required && basicInfo.email.$touched">Please Enter your email</span>
                        <span class="plain-text row" ng-show="basicInfo.email.$error.pattern && basicInfo.email.$touched">Email is invalid(eg:example@exam.ple)</span>          
                    <label class="item item-input">
                        <input type="password" name="password" placeholder="Password" ng-model="regstrCtrl.basicDetails.password" ng-pattern="/^(?=.*?[a-zA-Z0-9])(?=.*?[#?!@$%^&*-]).{4,}$/" required>                
                    </label>
                        <span class="plain-text row" ng-show="basicInfo.password.$error.required && basicInfo.password.$touched">Please anter a password</span>
                        <span class="plain-text row" ng-show="basicInfo.password.$error.pattern && basicInfo.password.$touched">Password must be 4 characters long having atleast one special character</span>                             
                    <label class="item item-input">
                        <input type="password" name="rePassword" placeholder="Password" ng-model="regstrCtrl.rePassword" ng-change="regstrCtrl.checkPassword(regstrCtrl.basicDetails.password, regstrCtrl.rePassword)" required>                
                    </label>                       
                        <span class="plain-text row" ng-show="basicInfo.rePassword.$error.required && basicInfo.rePassword.$touched">Please re-enter your password</span>
                        <span class="plain-text row" ng-show="regstrCtrl.showPasswordMisMatch && basicInfo.rePassword.$touched">Password doesn't match</span>            
                </div>
                <a href="" class="otp-resend" ui-sref="login" >I am already registered</a>
                <button class="button button-block button-positive" type="submit" ng-disabled="basicInfo.$invalid || regstrCtrl.showPasswordMisMatch" ng-click="regstrCtrl.register()">Register</button>
            </form>
        </div>
    </div>   
        </ion-content>
    </ion-view>
    