<ion-view cache-view="false" view-title="My Requests" ng-init="reqCtrl.myOrders()">
        <ion-nav-buttons side="left">
            <button class="back-button" ui-sref="app.mapView">
              <i class="icon ion-chevron-left"></i> 
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <i class="icon ion-refresh cart-icon" ng-click="reqCtrl.myOrders()"></i>
        </ion-nav-buttons>
    <ion-content scroll="true">
            <!-- <ion-refresher pulling-text="Pull and leave to refresh..." on-refresh="reqCtrl.myOrders()"></ion-refresher> -->
        <ion-slide-box show-pager="false" ion-slide-tabs>
                <ion-slide ion-slide-tab-label="LIVE" disable-scroll="false" >
                        <div ng-show="reqCtrl.liveOrdersArr.length == 0 || !reqCtrl.liveOrdersArr" class="cart-empty">
                                <i class="icon ion-ios-navigate"></i>
                                <h3> NO LIVE REQUESTS</h3>
                            </div>
                        <ion-list>
                            <div ng-repeat="liveOrders in reqCtrl.liveOrdersArr">
                            <ion-item class="m-b-12" ng-hide="liveOrders.produtType == 'SCHEME'" ng-click="reqCtrl.reqDetails(liveOrders)">
                                    <span class="span-text row"><p class="col col-60">STATUS </p><p class="col-40">{{liveOrders.requestStatus == "WIP" ? "Work in Progress" : liveOrders.requestStatus}}</p></span>
                                    <span class="span-text row"><p class="col col-60">ORDER ID </p><p class="col-40">{{liveOrders.orderId}}</p></span>
                                    <span class="span-text row"><p class="col col-60">REQUEST TYPE </p><p class="col-40">{{liveOrders.produtType}}</p></span>
                                    <span class="span-text row"><p class="col col-60">REQUEST DATE </p><p class="col-40">{{liveOrders.serviceDate}}</p></span>
                                    <span class="span-text row"><p class="col col-60">AMOUNT </p><p class="col-40"> <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{liveOrders.totalPrice}}</p></span>
                                                                  
                                  
                            </ion-item>
                            </div>
                        </ion-list>
                </ion-slide>
                <ion-slide ion-slide-tab-label="FUTURE">
                        <div ng-show="reqCtrl.futureOrdersArr.length == 0 || !reqCtrl.futureOrdersArr" class="cart-empty">
                                <i class="icon ion-android-calendar"></i>
                                <h3> NO FUTURE REQUESTS</h3>
                            </div>
                        <ion-list>
                                <div ng-repeat="futureOrder in reqCtrl.futureOrdersArr">
                                    <ion-item class="m-b-5" ng-click="reqCtrl.reqDetails(futureOrder)">
                                        <span class="span-text row"><p class="col col-60">STATUS </p><p class="col-40">{{futureOrder.requestStatus == "WIP" ? "Work in Progress" : futureOrder.requestStatus}}</p></span>
                                        <span class="span-text row"><p class="col col-60">ORDER ID </p><p class="col-40">{{futureOrder.orderId}}</p></span>
                                        <span class="span-text row"><p class="col col-60">REQUEST TYPE </p><p class="col-40">{{futureOrder.produtType}}</p></span>
                                        <span class="span-text row"><p class="col col-60">REQUEST DATE </p><p class="col-40">{{futureOrder.serviceDate}}</p></span>
                                        <span class="span-text row"><p class="col col-60">AMOUNT </p><p class="col-40"> <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{futureOrder.totalPrice}}</p></span>
                                    </ion-item>
                                </div>
                            </ion-list>
                </ion-slide>
                <ion-slide ion-slide-tab-label="CLOSED">
                    <div class="cart-empty" ng-show="reqCtrl.completedOrdersArr.length == 0 || !reqCtrl.completedOrdersArr" >
                        <i class="icon ion-android-checkbox"></i>
                        <h3> NO REQUESTS COMPLETED</h3>
                    </div>
                    <ion-list ng-hide="reqCtrl.completedOrdersArr.length == 0 || !reqCtrl.completedOrdersArr" >
                        <div ng-repeat="completedOrder in reqCtrl.completedOrdersArr">
                        <ion-item class="m-b-5"  ng-click="reqCtrl.reqDetails(completedOrder)">
                               <span class="span-text row"><p class="col col-60">STATUS </p><p class="col-40">{{completedOrder.requestStatus == "WIP" ? "Work in Progress" : completedOrder.requestStatus}}</p></span>
                               <span class="span-text row"><p class="col col-60">ORDER ID </p><p class="col-40">{{completedOrder.orderId}}</p></span>
                               <span class="span-text row"><p class="col col-60">REQUEST TYPE </p><p class="col-40">{{completedOrder.produtType}}</p></span>
                               <span class="span-text row"><p class="col col-60">REQUEST DATE </p><p class="col-40">{{completedOrder.serviceDate}}</p></span>
                               <span class="span-text row"><p class="col col-60">AMOUNT </p><p class="col-40"> <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{completedOrder.totalPrice}}</p></span>
                        </ion-item>
                        </div>
                    </ion-list>
                </ion-slide>
                <ion-slide ion-slide-tab-label="CANCELLED">
                        <div class="cart-empty" ng-show="reqCtrl.canceledOrdersArr.length == 0 || !reqCtrl.canceledOrdersArr" >
                            <i class="icon ion-android-cancel"></i>
                            <h3> NO REQUESTS CANCELED</h3>
                        </div>
                        
                        <ion-list ng-hide="reqCtrl.canceledOrdersArr.length == 0 || !reqCtrl.canceledOrdersArr" >
                            <div ng-repeat="cancelOrder in reqCtrl.canceledOrdersArr">
                            <ion-item class="m-b-5"  ng-click="reqCtrl.reqDetails(cancelOrder)">
                                    
                                <span class="span-text row"><p class="col col-60">STATUS </p><p class="col-40">{{cancelOrder.requestStatus == "WIP" ? "Work in Progress" : cancelOrder.requestStatus}}</p></span>
                                <span class="span-text row"><p class="col col-60">ORDER ID </p><p class="col-40">{{cancelOrder.orderId}}</p></span>
                                <span class="span-text row"><p class="col col-60">REQUEST TYPE </p><p class="col-40">{{cancelOrder.produtType}}</p></span>
                                <span class="span-text row"><p class="col col-60">REQUEST DATE </p><p class="col-40">{{cancelOrder.serviceDate}}</p></span>
                                <span class="span-text row"><p class="col col-60">AMOUNT </p><p class="col-40"> <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{cancelOrder.totalPrice}}</p></span>
                            </ion-item>
                            </div>
                        </ion-list>
                </ion-slide>
               
        </ion-slide-box>   
    </ion-content>
</ion-view>
      