<ion-view cache-view="false" view-title="My Requests">
        <ion-nav-buttons side="left">
            <button class="back-button" ui-sref="app.mapView">
              <i class="icon ion-chevron-left"></i> 
            </button>
        </ion-nav-buttons>
    <ion-content>
        <ion-slide-box show-pager="false" ion-slide-tabs>
                <ion-slide ion-slide-tab-label="LIVE">
                    <h1>No LIVE requests</h1>
                </ion-slide>
                <ion-slide ion-slide-tab-label="FUTURE">
                    <h1>No Future bookings</h1>
                </ion-slide>
                <ion-slide ion-slide-tab-label="COMPLETED">
                    <h1>No completed booking</h1>
                </ion-slide>
                <ion-slide ion-slide-tab-label="CANCELLED">
                    <h1>No booking CANCELLED</h1>
                </ion-slide>
               
        </ion-slide-box>   
    </ion-content>
</ion-view>
      