<ion-view cache-view="false" hide-nav-bar="true">
    <ion-content class="gsg_main_container">
        <div class="gsg_login">
            <div class="banner_logo">
                <img src="img/logo3.png" alt="">
            </div>
            <div>
                <form name="ResPwd">
                    <label class="item item-input">
                        <input type="text" name="otp" ng-model="ResPwdctrl.resPwd.otp" placeholder="INSERT OTP" required>
                    </label>
                    <span class="plain-text row" ng-show="ResPwd.otp.$error.required && ResPwd.otp.$touched">Please enter OTP</span>
                    <label class="item item-input">
                        <input type="password" name="new_password" placeholder="New Password" ng-model="ResPwdctrl.resPwd.password" ng-pattern="/^(?=.*?[a-zA-Z0-9])(?=.*?[#?!@$%^&*-]).{4,}$/" required>                
                    </label>
                        <span class="plain-text row" ng-show="ResPwd.new_password.$error.required && ResPwd.new_password.$touched">Please enter a new password</span>
                        <span class="plain-text row" ng-show="ResPwd.new_password.$error.pattern && ResPwd.new_password.$touched">Password must be 4 characters long having atleast one special character</span>                             
                    <label class="item item-input">
                        <input type="password" name="rePassword" placeholder="Retype Password" ng-model="ResPwdctrl.rePassword" ng-change="ResPwdctrl.checkPassword(ResPwdctrl.resPwd.password, ResPwdctrl.rePassword)" required>                
                    </label>
                        <span class="plain-text row" ng-show="ResPwd.rePassword.$error.required && ResPwd.rePassword.$touched">Please re-enter your password</span>
                        <span class="plain-text row" ng-show="ResPwdctrl.showPasswordMisMatch && ResPwd.rePassword.$touched">Password doesn't match</span>            
                    <button class="button button-block button-positive" type="submit" ng-disabled="ResPwd.$invalid" ng-click="ResPwdctrl.resetPwd()">Submit</button>
                </form>
            </div>
        </div>      
    </ion-content>
</ion-view>
  