<ion-view>
    <ion-content class="gsg_main_container">
      <div class="gsg_login">
        <div class="banner_logo">
            <img src="img/logo3.png" alt="">
        </div>
        <div>
          <form name="setPassword">
              <label class="item item-input">
                  <input type="text" name="fname" ng-model="loginCtrl.user.firstname" placeholder="Firstname" ng-pattern="/^[A-Za-z\s]+$/" required>
              </label> 
                  <span class="plain-text" ng-show="basicInfo.fname.$error.required && basicInfo.fname.$touched">Please Enter your firstname</span>
                  <span class="plain-text" ng-show="basicInfo.fname.$error.pattern && basicInfo.fname.$touched">Firstname is invalid(Only Alphabets allowed)</span>          
          
            <label class="item item-input">
                  <input type="text" name="lname" ng-model="loginCtrl.user.lastname" placeholder="Lastname" ng-pattern="/^[A-Za-z\s]+$/" required>
            </label>
                  <span class="plain-text" ng-show="basicInfo.lname.$error.required && basicInfo.lname.$touched">Please Enter your lastname</span>
                  <span class="plain-text" ng-show="basicInfo.lname.$error.pattern && basicInfo.lname.$touched">Lastname is invalid(Only Alphabets allowed)</span>          
               
                <div class="row" >
                    <label class="item item-input col col-50">
                        <select class="" name="gender" ng-model="loginCtrl.user.gender" required>
                            <option value=""><i class="fa fa-sort-desc">Gender</i></option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Female">Others</option>                             
                        </select>                 
                    </label>
                   
                    <label class="item item-input col-50">
                        <input type="text" class="" name="dob" placeholder="DOB" ng-model="loginCtrl.user.dob" datepicker-popup="dd MMM, yyyy" datepicker-options="dateOptions"  is-open="opened"  max-date="dt"  ng-click="open1($event)" close-text="Close"/>
                    </label>
                   
                  </div>
              <button class="button button-block button-positive" type="submit" ng-disabled="setPassword.$invalid" ng-click="loginCtrl.register()">Get OTP</button>
              
            </div>
          </form>
        </div>
      </div>
      
    </ion-content>
  </ion-view>
  