<ion-view cache-view="false" view-title="Add Vehicles">
    <ion-nav-buttons side="left">
        <button class="back-button" ui-sref="app.vehicles">
            <i class="icon ion-chevron-left"></i> 
        </button>
    </ion-nav-buttons>
    <form name="addVehicle">
    <ion-content  class="gsg_main_container">         
        <div class="gsg_login">
            <div style="margin-top: -19px;">
              
                    <div class="list">
                        <label class="item item-input col">
                            <select class="" name="no_of_wheel" ng-model="vehicleCtrl.vehicle.wheels" required >
                                <option value=""><i class="fa fa-sort-desc">No of Wheels</i></option>
                                <option value="3">3 Wheelers</option>
                                <option value="4">4 Wheelers</option>
                                <option value="others">Others</option>                             
                            </select>                 
                        </label>
                        <span class="plain-text row" ng-show="addVehicle.no_of_wheel.$error.required && addVehicle.no_of_wheel.$touched">Please choose an option</span>
                        <label class="item item-input col">
                            <select class="" name="maker_of_vehicle" ng-model="vehicleCtrl.vehicle.make" required>
                                <option value=""><i class="fa fa-sort-desc">Maker Of the Vehicle</i></option>
                                <option value="Honda">Honda</option>
                                <option value="Maruti">Maruti</option>
                                <option value="Suzuki">Suzuki</option>                             
                            </select>                 
                        </label>
                        <span class="plain-text row" ng-show="addVehicle.maker_of_vehicle.$error.required && addVehicle.maker_of_vehicle.$touched">Please choose a maker</span>
                        <label class="item item-input">
                            <input type="text" name="vehicle_no" ng-model="vehicleCtrl.vehicle.registerationNumber" placeholder="Vehicle No" required>
                        </label> 
                        <span class="plain-text row" ng-show="addVehicle.vehicle_no.$error.required && addVehicle.vehicle_no.$touched">Please enter the vehicle no</span>
                        <div class="vehicle row" >
                            <label class="item item-input col col-50">
                                <select class="" name="model" ng-model="vehicleCtrl.vehicle.model" required>
                                    <option value=""><i class="fa fa-sort-desc">Model</i></option>
                                    <option value="model 1">model 1</option>
                                    <option value="model 2">model 2</option>
                                    <option value="model 3">model 3</option>                             
                                </select>                 
                            </label>
                            <label class="item item-input col-50">
                                <input type="text" class="" name="dob" placeholder="Varient" ng-model="vehicleCtrl.vehicle.variant" datepicker-popup="dd MMM, yyyy" datepicker-options="dateOptions"  is-open="opened"  max-date="dt"  ng-click="open1($event)" close-text="Close"/>
                            </label>
                        </div>
                        <span class="plain-text" ng-show="addVehicle.model.$error.required && addVehicle.model.$touched">Please enter the vehicle model</span>
                        <div class="vehicle row" >
                            <label class="item item-input col col-50">
                                <select class="" name="version" ng-model="vehicleCtrl.vehicle.version" required>
                                    <option value=""><i class="fa fa-sort-desc">Version</i></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>                             
                                </select>                 
                            </label>
                            <label class="item item-input col-50">
                                <input type="text" class="" name="dob" placeholder="Cubic capacity" ng-model="vehicleCtrl.vehicle.cubicCapacity" />
                            </label>
                        </div>
                        <label class="item item-input">
                            <select class="" name="manufacturing_year" ng-model="vehicleCtrl.vehicle.mfgYear" required>
                                <option value=""><i class="fa fa-sort-desc">Manufacturing Year</i></option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>                             
                            </select>                 
                        </label>
                        <span class="plain-text row" ng-show="addVehicle.manufacturing_year.$error.required && addVehicle.manufacturing_year.$touched">Please enter the vehicle manufacturing year</span>
                        <label class="item item-input">
                            <select class="" name="insurance_status" ng-model="vehicleCtrl.vehicle.status" required>
                                <option value=""><i class="fa fa-sort-desc">Vehicle Insurance Status</i></option>
                                <option value="1">Active</option>
                                <option value="0">Expired</option>
                                                           
                            </select>                 
                        </label>
                        <span class="plain-text row" ng-show="addVehicle.insurance_status.$error.required && addVehicle.insurance_status.$touched">Insurance status is required</span>
                        <label class="item item-input col" ng-if="vehicleCtrl.vehicle.status == '1'">
                                <input type="text" class="" name="expiry_date" placeholder="Expiry Date" ng-model="vehicleCtrl.vehicle.expiry_date" ng-required="vehicleCtrl.vehicle.status == '1'"/>
                            </label> 
                            <span class="plain-text row" ng-show="addVehicle.expiry_date.$error.required && addVehicle.expiry_date.$touched">Expiry date is required</span> 
                            <label class="item item-input col">
                                <input type="text" class="" name="insurance_type" placeholder="Insurance type" ng-model="addVehicle.vehicle.type"/>
                            </label> 
                    </div>
            </div>
            <!-- <button class="skip-button" type="submit" ui-sref="app.mapView">Skip  <i class="icon ion-chevron-right"></i><i class="icon ion-chevron-right"></i> -->
            </button>
        </div>
       
    </ion-content>
    <ion-footer-bar class="map-footer" >
            <button class="button button-block button-map" ng-disabled="addVehicle.$invalid" ng-click="vehicleCtrl.addVehicle()" type="submit">ADD VEHICLE</button>        
    </ion-footer-bar>
</form>
</ion-view>