<ion-view cache-view="false" view-title="My Vehicles" ng-init="vehicleCtrl.getVehicleList()">
    <ion-nav-buttons side="left">
        <button class="back-button" ui-sref="app.mapView">
          <i class="icon ion-chevron-left"></i> 
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="popular-query" ng-hide="vehicleCtrl.vehicleList.length == 0">
                <h3 class="popular-city">Added Vehicles</h3>
        </div>
        <div ng-show="vehicleCtrl.vehicleList.length == 0|| !vehicleCtrl.vehicleList" class="cart-empty">
                <i class="icon ion-model-s"> </i>
                <h3> No Vehicles added</h3>
                <butt>
            </div>
        <ion-list>
            <div ng-repeat="item in vehicleCtrl.vehicleList">
                <ion-item class="item-stable query-list"
                        ng-click="vehicleCtrl.toggleGroup(item)"
                        ng-class="{active: vehicleCtrl.isGroupShown(item)}">
                    <!-- <i class="icon" ng-class="vehicleCtrl.isGroupShown(item) ? 'ion-chevron-up' : 'ion-chevron-down'"></i> -->
                &nbsp;
                <div class="vehicle_list">
                    
                    <!-- <img class="vehicle_image" src=""> -->
                    <p class="vehicle_name"> {{item.vehicle.make}}  {{item.registrationNumber}}  </p>
                </div>
                </ion-item>
                <ion-item class="item-accordion"
                    ng-show="vehicleCtrl.isGroupShown(item)">
                   <div class="vehicle_description">
                        {{item.vehicle.make}}  {{item.vehicle.models}} {{item.mfgYear}}
                        <hr>
                        
                        <p class="">  Vehicle No : {{item.registrationNumber}}  </p>
                        <p class=""> Wheel type : {{item.vehicle.wheels}} Wheeler  </p>
                        <p class="">  Colour Variant : {{item.variant}}  </p>
                        <p class="">  Version : {{item.modelVersion}}  </p>
                        <p class="">  Cubic Capacity : {{item.cubicCapacity ? item.cubicCapacity : "N/A" }}  CC  </p>
                        <p class="">  Insurance Availability : {{item.insuranceValid ? "Yes" : "No"}}  </p>
                        <p class="">  Insurance Type : {{item.insuranceType}}  </p>
                        <p class="" ng-show="item.insuranceValid" >  Expiry Date : {{item.expiryDate}}  </p>




                   </div>
                   <button class="button button-positive vehicle_button" type="submit" ng-click="vehicleCtrl.deleteVehicle($index)">Delete</button>
                   <button class="button button-positive vehicle_button float-right" type="submit" ng-click="vehicleCtrl.updateVehicle(item,$index)">Update</button>
                </ion-item>
            </div>
        </ion-list>
        

    </ion-content>
    <ion-footer-bar class="map-footer" >
        <button class="button button-block button-map" ui-sref="add-vehicle" type="submit">ADD NEW VEHICLE</button>        
    </ion-footer-bar>
</ion-view>
  